body {
    font-family: 'Roboto', sans-serif;
    background-color: #0f0c25;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: beige;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.image-container {
    margin: 20px 0;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a {
    display: block;
    margin: 15px 0;
    padding: 15px 30px;
    border-radius: 25px;
    background-color: #1e1e1e;
    color: aquamarine;
    font-weight: bold;
    text-decoration: none; /* Remove o sublinhado */
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.menu a:hover {
    background-color: aquamarine;
    color: #0f0c25;
    transform: scale(1.05);
}

.menu a.highlight {
    background-color: #ff5733; /* Cor de fundo diferenciada */
    color: #fff; /* Texto em branco */
    font-size: 1.2rem; /* Tamanho do texto maior */
    font-weight: bold;
    transform: scale(1.1); /* Leve aumento de tamanho */
}

@media (min-width: 600px) {
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .menu a {
        margin: 10px;
        width: 200px;
        text-align: center;
    }
}
